body {
  background: url("/images/notebook.gif");
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

div.content {
  font-family: monospace;
  background-color: #fff;
  width: 750px;
  border: 1px lightblue solid;
  padding: 25px;
  margin: 25px auto;
}

div#top {
  text-align: center;
  margin: 0 auto;
  padding: 3px 25px 3px 25px;
  position: relative;
  height: 60px;
}

div.top-left {
  width: 10%;
  float: left;
}

div.top-middle {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  left: 10%;
}

div.top-right {
  width: 10%;
  float: right;
}

div#top h2 {
  margin: 0px auto;
  font-family: monospace;
}

div#top a {
  color: #000;
}

div#top a:hover {
  text-decoration: none;
}

h3 { margin: 0px auto; }

div.comic {
  text-align: center;
  font-family: monospace;
}

div.comic img {
  border: 1px black solid;
}

div#nav, div#title {
  text-align: center;
  margin: 5px auto;
  padding: 10px 25px 10px 25px;
}

div#news {
  padding: 10px 25px 10px 25px;
}

div#bottom {
  text-align: center;
}
