<!doctype html>
<html>
	<head>
		<title>robot+kitten</title>

		<!-- link rel="alternate" type="application/rss+xml" 
		   href="http://robotkitten.net/feeds/latest/" title="robot+kitten: full feed" -->
		<!-- link rel="alternate" type="application/rss+xml" 
		   href="http://robotkitten.net/feeds/summary/" title="robot+kitten: summary feed" -->
		<link rel="stylesheet" href="{{ url_for( 'static', filename='css/style.css' ) }}" type="text/css" />
	</head>
	<body>
		<div class="content" id="top">
			<div class="left">
				<img src="{{ url_for('static', filename='images/robot.png' ) }}" />
				<img src="{{ url_for('static', filename='images/kitten.png' ) }}" />
			</div>
			<div class="middle">
				<h2><a href="/">ROBOT + KITTEN</a></h2>
				sometimes i draw things
			</div>
			<div class="right">
				<img src="{{ url_for( 'static', filename='images/kitten.png' ) }}" />
				<img src="{{ url_for( 'static', filename='images/robot.png' ) }}" />
			</div>
		</div>

		{% block content %}{% endblock %}
	</body>
</html>